body {
  width: 1488px;
  height: 2104.8px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

.list {
  padding: 0;
  margin: 0;
  /* list-style: none; */
}

.link {
  color: inherit;
  font-style: normal;
  text-decoration: none;
}

.cv-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      white 20%,
      rgba(255, 255, 255, 0.7) 80%,
      white 100%
    ),
    url(laptop.jpg);
  background-size: cover;
}

.block {
  border: 1.2px solid rgb(3, 22, 64);
  border-radius: 12px;
}

.block__left {
  padding: 18px;
  width: 510px;
  height: 100%;
  font-size: 28px;
  /* line-height: 30px; */
  color: white;
  background-image: linear-gradient(
    30deg,
    rgb(3, 22, 64) 10%,
    rgba(3, 22, 64, 0.779) 30%,
    rgba(3, 22, 64, 0.789) 50%,
    rgba(3, 22, 64, 0.911) 70%,
    rgb(3, 22, 64) 100%
  );
}

.photo-block {
  padding-top: 18px;
  padding-bottom: 18px;
}

.photo-block__photo {
  display: block;
  margin: 0 auto;
  margin-bottom: 18px;
  padding: 6px;
  width: 90%;
  border: 2px solid white;
  border-radius: 30px;
  box-shadow: 1.8px 1.8px 3.6px rgb(3, 22, 64);
}

.photo-block__location {
  display: block;
  padding: 18px 0;
  text-align: center;
  font-size: 28px;
  letter-spacing: 3.6px;
}

.contacts {
  padding: 24px 18px 18px 79.8px;
  letter-spacing: 2.4px;
}

.contact {
  display: block;
  padding-bottom: 18px;
  line-height: 30px;
}

.icon {
  position: absolute;
  left: 43.8px;
  fill: currentColor;
}

.skills {
  padding: 32px 0;
  letter-spacing: 2.4px;
}

.skills__heading {
  padding-bottom: 32px;
  text-align: center;
  font-size: 28px;
}

.skills__list {
  padding-left: 60px;
}

.skills__description {
  padding-bottom: 18px;
  padding-left: 18px;
  line-height: 30px;
}

/* .tech-skills .skills__description:last-child {
  color: rgba(255, 255, 255, 0.528);
} */

.block__right {
  background-color: rgba(3, 22, 64, 0.064);
  width: 978px;
  height: 100%;
  color: rgb(3, 22, 64);
}

.heading {
  padding: 18px 18px 66px 18px;
  text-align: center;
  background-image: linear-gradient(
    30deg,
    rgba(188, 204, 239, 0.525) 30%,
    rgba(188, 204, 239, 0.027) 50%,
    rgba(244, 248, 255, 0.961) 70%,
    rgba(188, 204, 239, 0.027) 80%,
    rgba(188, 204, 239, 0.525) 100%
  );
}

.heading__name {
  margin-bottom: 24px;
  font-size: 50px;
  letter-spacing: 3.6px;
}

.heading__position {
  font-size: 32px;
  letter-spacing: 2.4px;
}

.article {
  position: relative;
  display: block;
  padding: 51px 18px 48px 18px;
  background-image: linear-gradient(
    rgba(188, 204, 239, 0.799) 75%,
    transparent 100%
  );
}

.article__title {
  position: absolute;
  display: block;
  top: -39px;
  left: 18px;
  padding: 10px;
  padding-left: 18px;
  width: 98.1%;
  background-color: white;
  border: 1.2px solid rgb(3, 22, 64);
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  box-shadow: 1.8px 1.2px 3px rgb(3, 22, 64);
}

.article__name {
  font-size: 26px;
}

.article__body {
  padding-bottom: 12px;
  padding-left: 18px;
  font-size: 26px;
}

.body {
  margin-bottom: 7px;
}

.article__heading--add {
  font-weight: normal;
  text-decoration: none;
}

.article__time {
  padding-bottom: 6px;
  font-size: 26px;
  font-weight: bolder;
  font-style: italic;
  text-decoration: underline;
}

.article__position {
  font-weight: bolder;
  font-size: 26px;
}

.article__description {
  padding-left: 36px;
  /* list-style: none; */
  font-size: 26px;
}

.special {
  font-weight: normal;
}

.article__link {
  font-size: 24px;
  font-weight: bolder;
  color: inherit;
}

/* .article__body .article__link:first-of-type {
  margin-right: 18px;
} */
